<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.YOUR_USER.gmscheduler</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3</string>
        <string>/Users/YOUR_USER/YOUR_DIRECTORY/gm-automation/src/gm_scheduler.py</string>
    </array>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>5</integer>
        <key>Minute</key>
        <integer>55</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/YOUR_USER/YOUR_DIRECTORY/gm-automation/logs/stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/YOUR_USER/YOUR_DIRECTORY/gm-automation/logs/stderr.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
